@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1,
h2 {
    font-family: "HK Grotesk";
}

p {
    font-family: "Libre Baskerville";
}

body {
    background-color: #FBEC9D;
}

#conscientizacao_logo {
    margin-top: 10px;
    margin-left: 60px;

}

.titulo-principal {
    display: flex;

}

.titulo-principal img {
    /* margin-bottom: 45px; */
    /* border: 1px solid black ; */
    width: 30px;
}

nav {
    color: white;
    display: flex;
    gap: 42px;
    justify-content: center;
    background-color: #393533;
    padding: 10px;

}

a {
    text-decoration: none;
    color: white;
}

.logo-setembro-amarelo {
    width: 40px;
    margin-left: 20px;
}

.texto-caixa {
    display: flex;
    justify-content: space-around;

}

.caixa-verde {
    width: 280px;
    height: 150px;
    background-color: #606B3E;
    border-radius: 10px;
}

h2,
.caixa-verde p {
    color: white;
    font-weight: 100;
    padding: 10px;
}

.caixa-verde-claro {
    background-color: #817835;
    width: 400px;
    height: 150px;
    margin-left: 0;
    ;
    border-radius: 10px;
    color: white;
    padding: 10px;

}

.texto-caixa-verde-claro {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    gap: 64px;
}

.texto h2 {
    color: black;
    font-weight: 800;
}

.titulo-secundario {
    display: flex;
    justify-content: flex-start;

}

#escudo {
    width: 45px;
    height: 45px;
}

.acolhimento {
    margin-top: 10px;
    width: 500px;
    height: 110px;
    background-color: #E7AF3B;
    margin-left: 85px;
    padding: 5px;
    border-radius: 10px;
}

.acolhimento p {
    color: white;
    padding: 5px;
}

.container {
    display: flex;
    justify-content: center;
    margin-right: 90px;
    width: 1400px;
}

/* Branch 'conteudo-site' abaixo */
.div-set-am-p {
    margin-top: 35px;
    width: 1100px;
    margin-left: 100px
}

#o-que-e-set-am {
    color: #5F6A3E;
    text-align: center;
}

#apoio {
    background-color: #E7AF3B;
}

.tres-caixas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    width: 1100px;
    margin-left: 100px;
}

.caixa {
    width: 300px;
    height: 200px;
}

#balao-dialogo {
    width: 60px;
    height: 60xp;
    margin-top: 10px
}

#img-1 {
    margin-top: 10px;
}

#forca {
    background-color: #E7AF3B;
}

.frases-que-inspiram {
    display: flex;
    justify-content: center;

}

.frases-que-inspiram h2 {
    text-align: center;
    color: #5F6A3E;
    width: 400px;
    margin-right: 60px;

}

.frases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1100px;
    margin-left: 100px;
}

.frase {
    height: 180px;
    border: 1px solid #817835;
    padding: 10px;
    width: 300px;
}

#frase-1 {
    border-color: #616B3B;
    border-width: 5px;
    border-radius: 10px;
}

#frase-2 {
    border-color: #82782E;
    border-width: 5px;
    border-radius: 10px;
}

#frase-3 {
    border-color: #E7AF3B;
    border-width: 5px;
    border-radius: 10px;
}

.laco-amarelo-h2 h2 {
    color: black;
    margin-left: 60px;
}

.laco-amarelo-imagem-paragrafo {
    display: flex;
    justify-content: center;
}

.laco-amarelo-h2 h2 {
    color: #5F6A3E;
}

#apoio-2 {
    background-color: #E7AF3B;
}

.container-laco-amarelo {
    width: 750px;
    margin-left: 250px;

}

/* Branch listas-aprendizados abaixo*/
.listas-aprendizados {
    margin-left: 120px
}

.listas-aprendizados h2 {
    color: black;
    margin-left: 100px;
}

/* .lista-ordenada{
    display: flex;
    justify-content:flex-start;
} */
.lista-ordenada-desordenada {
    display: flex;
    justify-content: space-around;
    gap: 120px;
    /* border: 1px solid black;  */
}

.cinco-caixas-grid {
    width: 1200px;
}

.tres-caixas-2 {
display: flex;
justify-content: center;
gap:10px;   
margin-bottom: 10px;
}

.card {
    background-color: #5F6A3E;
    width:160px;
    border-radius: 10px;
    padding: 10px;
}

.card h3,
.card p {
    color: white;
    font-size: 10px;
}

.duas-caixas {
    display: flex;
    justify-content: center;
    gap: 10px
}

#autoconhecimento {
    font-weight: 900;
}

#qualidade {
    background-color: #E7AE3C;
    color: black;
}

#capacidade-amar {
    font-weight: 900;
}

#saudaveis {
    background-color: #E7AE3C;
    color: black;
}

#bem-estar {
    font-weight: 900;
}

#capacidade-aprendizado {
    background-color: #E7AE3C;
    color: black;
}

#conexao {
    font-weight: 900;
}

#sintomas {
    background-color: #E7AE3C;
    color: black;
}

#autoimagem {
    font-weight: 900;
}

#desafios-vida {
    background-color: #E7AE3C;
    color: black;
}